.SavedInfoPage {
  padding: 20px;
}

.ActiveLostItemTable,
.ActiveFoundItemTable,
.ActiveAuctionTable {
  margin: 10px;
  margin-top: 50px;
  display: grid;
  gap: 10px;
  margin-bottom: 100px;
}

.ActiveLostItemTable { grid-template-columns: repeat(10, 1fr); }
.ActiveFoundItemTable { grid-template-columns: repeat(12, 1fr); }
.ActiveAuctionTable { grid-template-columns: repeat(8, 1fr); }

.grid-header,
.grid-row {
display: contents;
}

.grid-header > div,
.grid-row > div {
padding: 10px;
border: 1px solid #ccc;
}

.grid-header > div {
  font-weight: bold;
}

button {
  padding: 5px 10px;
}
