.lost-items-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.add-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #0056b3;
}
/* styles.css */

.add-item-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-item-page h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.add-item-page form {
  display: flex;
  flex-direction: column;
}

.add-item-page label {
  margin-bottom: 10px;
  color: #666;
  font-size: 1.2rem;
}

.add-item-page input,
.add-item-page textarea,
.add-item-page select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.add-item-page button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-item-page button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-left: 10px;
}

.success-message {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
}
